@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="page-header">
			<h1>.NET and Java interop example</h1>
		</div>
		
		<p>This site contains an <code>ApiController</code> with five methods: <code>GET</code> (all), <code>GET</code> (one), <code>POST</code>, <code>PUT</code> and <code>DELETE</code>. <br />
			The controller manages a database of program languages that will be consumed by a client HTTP Java application. </p>

		<h3>GET <small>(all languages)</small> </h3>
		<p>
			This method returns all indexed languages. <br />
			Route: @Html.RouteLink(Url.HttpRouteUrl("DefaultApi", new { controller = "Languages", httproute = true }) , "DefaultApi", new { controller = "Languages", httproute = true })
		</p>

		<h3>GET <small>(one language)</small> </h3>
		<p>
			This method returns language by its index.<br />
			Route: @Html.RouteLink(Url.HttpRouteUrl("DefaultApi", new { controller = "Languages", httproute = true, index = 1 }) , "DefaultApi", new { controller = "Languages", httproute = true, index = 1 })
		</p>

		<h3>POST</h3>
		<p>
			This method inserts a new language.<br />
			Route: @Url.HttpRouteUrl("DefaultApi", new { controller = "Languages", httproute = true } )
		</p>

		<h3>PUT</h3>
		<p>
			This method updates language by its index.<br />
			Route: @Url.HttpRouteUrl("DefaultApi", new { controller = "Languages", httproute = true, index = 1 } )
		</p>

		<h3>DELETE</h3>
		<p>
			This method removes language by its index.<br />
			Route: @Url.HttpRouteUrl("DefaultApi", new { controller = "Languages", httproute = true, index = 1 } )
		</p>

		<h3>How to test POST, PUT and DELETE methods</h3>

		<p>To test these methods, you can use <strong>Fiddler Web Debugger</strong>  (<a href="http://fiddler2.com/get-fiddler">http://fiddler2.com</a>)</p>

		<img src="~/Content/img/fiddler.png" />
		<p class="text-muted">Fiddler executing POST method.</p>

	</div>
</body>
</html>
